In [1]:
# paste: collapsing several strings in 1 or combining strings
# paste example 1
x <- c("abc", "def", "123", "go ahead")
paste(x, collapse = "_")

[1] "abc_def_123_go ahead"

In [2]:
# paste example 2
paste(x, 1:4, sep = "-")

[1] "abc-1"      "def-2"      "123-3"      "go ahead-4"

In [3]:
# sprintf: inject a string in another
# sprintf example 1
sprintf("INSERT INTO customers VALUES(%s, '%s')", 1:2, c("person1", "xyz"))

[1] "INSERT INTO customers VALUES(1, 'person1')"
[2] "INSERT INTO customers VALUES(2, 'xyz')"

In [4]:
paste(c("Hélain", "Schoonjans"), collapse = " ")

[1] "Hélain Schoonjans"